@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

 $GrayishBlue : hsl(233, 8%, 62%);
 $LightGrayishBlue: hsl(220, 16%, 96%);
 $VeryLightGray: hsl(0, 0%, 98%);
 $White: hsl(0, 0%, 100%);
  
 $DarkBlue: hsl(233, 26%, 24%);
 $LimeGreen: hsl(136, 65%, 51%);
 
 $BrightCyan: hsl(192, 70%, 51%);


body {
    background-color: white;
    margin: 0;
    font-size: 18px;
    padding:0;
    overflow-x: hidden;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out;
    background: rgb(45,49,77);
    background: rgb(45,49,77);
background: linear-gradient(180deg, rgba(45,49,77,0.7343312324929971) 44%, rgba(65,69,94,0.4009978991596639) 78%, rgba(255,255,255,1) 97%);
}
.visible {
    opacity: 1 !important;
    visibility: visible !important;
}
.mobile-nav {
    position: fixed;
    top: 25%;
    left: 50%;
    width: 80%;
    z-index: 3;
    visibility: hidden;
    background-color: white;
    text-align: center;
    opacity: 0;
    transition: 0.4s ease-in-out;
    border-radius: 0.3em;
    margin-top: -10%;
    margin-left: -40%;
    ul {
        list-style-type: none;
        padding: 0;
        li {
            padding: 10px 0;
        }
        a {
           padding: 5px 0;
           font-size: 18px;
            color: $DarkBlue
        }
    }
}
nav {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 2;
    height: 90px;
    padding: 0 100px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    
    ul {
     
      list-style-type: none;

       li {
           display: inline-block;
           margin: 0 15px;
       }
    }
  }
  .link {
    background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
background: linear-gradient(to right, #31d35c, #2bb7da);
color: white;
padding: 15px 25px;
border-radius: 1.5em;
}
  a {
      color: $GrayishBlue;
      text-decoration: none;
      font-size: 15px;
  }
  .left-side {
      display: flex;
      align-items: center;
  }
  .menu-bar, .close-bar {
          display: none;
          transition: .4s ease-in-out;
      }
  .none {
      display: none !important;
  }
  .menu-bar , .close-bar {
      
      i {
          padding: 0 10px;
          color: $DarkBlue;
          font-size: 32px;
      }
  }
  .main-content {
      display: -webkit-box;
      overflow: hidden;
      padding: 0 100px;
  }
  .mob-img {
      display: none;
  }
  .main-background {
    background: $VeryLightGray url(images/bg-intro-desktop.svg) 630px -170px /cover no-repeat;
    
    background-size: 1280px;
  }
    .content {
        width: 500px;
        margin-top: 20%;
        
        p {
            margin-bottom: 40px;
        }
        h3 {
            font-size: 3.5rem;
            color: $DarkBlue;
            font-weight: 300;
            margin: 0;
        }
    }
    .main-link {
        a {
            background: linear-gradient(to right, $LimeGreen, $BrightCyan);
           color: $White;
           padding: 15px 25px;
           border-radius: 1.5em;  
        }
    }
    p {
        word-break: keep-all;
        word-wrap: break-word;
        color: $GrayishBlue;
        line-height: 1.5rem;
        font-size: 15px;
    }
  .main-img {
    position: relative;
    transform: translate(220px, -30px);

     img {
         width: 100%;
        display: block;
     }
}


.whyChooseUs {
     margin-top: -200px;
    padding: 100px 0 20px 0;
    background-color: $LightGrayishBlue;

    
}
.whyHeader {
    p {
        max-width: 500px;
    }
}
.whyContent {
    display: flex;
    margin: 70px 0;
}
    .list {
        width: 35%;
    padding: 15px;

        h5 {
            font-size: 1.5rem;
            color: $DarkBlue;
            font-weight: 400;
        }
       
    }

h4 {
    font-size: 2.5rem;
    font-weight: 200;
    color: $DarkBlue;
    margin: 0;
}

.latestArticles {
    background-color: $VeryLightGray;
    padding: 50px 0;

    .ArticleHeader {
        margin: 50px 0;
    }
    
}
.articles {
    display: flex;
    justify-content: space-between;
    
    .articleList {
        max-width: 330px;
        width: 24%;
        margin: 10px 0;
        box-shadow: 0px 0px 12px -5px $GrayishBlue;
        border-top-left-radius: 0.5em;
            border-top-right-radius: 0.5em;

        img {
            width: 100%;
            border-top-left-radius: 0.5em;
            border-top-right-radius: 0.5em;
            max-height: 190px;
            min-height: 190px;
        }
        .article-content {
            padding: 10px 30px;
            background-color: white;
             min-height: 380px;
            
            
        }
    }
}
.head a{
                font-size: 20px;
                color: $DarkBlue;
                transition: 0.2s ease-in;
            }
.head a:hover {
    color: $LimeGreen;
}

footer {
    background:  $DarkBlue;
    padding: 50px 0;
}
.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        margin: 50px 0;
    }
    a {
        color: white;
        font-size: 25px;
        margin: 0px 2px;
        transition: 0.2s ease-in;
    }
    a:hover {
        color: $LimeGreen;
    }
}
.footer-content {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
}
.footer-links {
    margin:0;
    padding: 0;
    li {
        list-style-type: none;
        margin:20px 0 0 0;
        a {
            color: $White;
            transition: 0.2s ease-in;
        }
        a:hover {
            color: $LimeGreen;
        }
    }
}
.copyright {
    direction: rtl;

    .main-link {
        margin: 50px 0;;
    }
    p {
        direction: ltr;
    }
}

//responsiveness for phone sizes of max-width(1024px)

@media(max-width: 1024px){
    
    .list {
        text-align: center;
        width: 350px;
    }
    
    .whyChooseUs {
        margin-top: 0;
    }
    // .main-content {
    //     // padding: 0;
    // }
    .main-img {
        width: 500px;
    }
    .whyHeader {
        text-align: center;

        p {
            max-width: 100%;
        }
    }
    .articles{
        flex-wrap: wrap;
        justify-content: space-evenly;
        .articleList {
            width: 330px;
            .article-content {
            min-height: 250px;
            }
        }
    }
}


//responsiveness for phone sizes of max-width(425px)
@media(max-width: 991px){
    .nav-links {
        display: none;
    }
    .menu-bar, .close-bar {
        display: block;
    }
}
@media(max-width: 425px){
    .left-side a {
        display: none;
    }
    .footer-content {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

//responsiveness for phone sizes of max-width(768px)

@media(max-width: 768px){
    .main-background {
        background: url("images/bg-intro-mobile.svg") 0px 0px / contain no-repeat;
        background-repeat: no-repeat;
    }
    .container {
        width: 85%;
    }
    
    nav {
        padding: 0 20px;
    }
    
    .footer-content {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .whyContent {
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-content {
        display: flex;
       
        padding: 135px 50px;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

     .content {
         text-align: center;
         order:1;
         width: auto;
     }
     .main-img {
         transform: translate(0, -150px);
         width: 300px;
     }
     
     .content {
         margin: -100px 0;
        h3 {
            font-size: 35px;
        }
    }
}

@media(max-width: 320px){
    .main-content {
        padding: 135px 20px;
    }
    .main-img {
        
            transform: translate(0, -150px);
        
        width: 300px
    }
    
}